<props>
    <productInfo>
        <name>{{channel}}</name>
        <issueDate>20131219</issueDate>
    </productInfo>
    <workFolder>/FT/Companies</workFolder>
    <templateName>/SysConfig/Templates/FT/Base-Story.xml</templateName>
    <summary>text text text text text text text text text text text text text text text
        text text text text te...
    </summary>
    <wordCount>417</wordCount>
</props>