<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ObjectMetadata SYSTEM "/SysConfig/Classify/FTStories/classify.dtd">
<ObjectMetadata>
    <OutputChannels>
        <DIFTcom>
            <DIFTcomLastPublication>{{lastPublicationDate}}</DIFTcomLastPublication>
            <DIFTcomInitialPublication>{{initialPublicationDate}}</DIFTcomInitialPublication>
            <DIFTcomMarkDeleted>{{deleted}}</DIFTcomMarkDeleted>
            <DIFTcomArticleImage>{{articleImage}}</DIFTcomArticleImage>
            <DIFTcomDiscussion>{{comments}}</DIFTcomDiscussion>
            <editorsPick>{{editorsPick}}</editorsPick>
            <exclusive>{{exclusive}}</exclusive>
            <scoop>{{scoop}}</scoop>
        </DIFTcom>
    </OutputChannels>
    <EditorialNotes>
        <EmbargoDate>{{embargoDate}}</EmbargoDate>
        <ObjectLocation>{{objectLocation}}</ObjectLocation>
        <Sources>
            <Source>
                <SourceCode>{{sourceCode}}</SourceCode>
            </Source>
        </Sources>
        <CCMS>
            <CCMSContributorRights>{{contributorRights}}</CCMSContributorRights>
        </CCMS>
    </EditorialNotes>
</ObjectMetadata>