<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE doc SYSTEM "/SysConfig/Rules/ftpsi.dtd">
<doc>
    <lead>
{{#mainImageUuid}}
        <lead-images id="U2701877253086gfF">
            <web-master width="2048" height="1152" id="U2701877253086TGC"
                        fileref="/FT/Graphics/Online/Master_2048x1152/dummy.jpg?uuid={{mainImageUuid}}"/>
            <web-skybox-picture/>
            <web-alt-picture/>
            <web-popup-preview width="167" height="96"/>
            <web-popup/>
        </lead-images>
{{/mainImageUuid}}
        <lead-headline>
            <headline>
                <ln>
                    And sacked chimney-sweep pumps boss full of mayonnaise.
                </ln>
            </headline>
        </lead-headline>
{{#promoTitle}}
        <web-index-headline><ln>{{promoTitle}}</ln>
        </web-index-headline>
{{/promoTitle}}
{{#standfirst}}
        <web-stand-first><p>{{standfirst}}</p>
        </web-stand-first>
{{/standfirst}}
    </lead>
    <story>
        <text>
{{#byline}}<byline>{{byline}}</byline>{{/byline}}
            <body>
                <p>random text for now</p>
            </body>
        </text>
    </story>
</doc>