<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ObjectMetadata SYSTEM "/SysConfig/Classify/FTStories/classify.dtd">
<ObjectMetadata>
    <OutputChannels>
        <DIFTcom>
            <isContentPackage>{{isContentPackage}}</isContentPackage>
            {{#articleImage}}
            <DIFTcomArticleImage>{{articleImage}}</DIFTcomArticleImage>
            {{/articleImage}}
            {{#designTheme}}
            <DesignTheme>{{designTheme}}</DesignTheme>
            {{/designTheme}}
            {{#designLayout}}
            <DesignLayout>{{designLayout}}</DesignLayout>
            {{/designLayout}}
            {{#pushNotificationsCohort}}
            <pushNotification>{{pushNotificationsCohort}}</pushNotification>
            {{/pushNotificationsCohort}}
        </DIFTcom>
    </OutputChannels>
    <EditorialNotes>
        <Sources>
           <Source>
               <SourceCode>{{sourceCode}}</SourceCode>
           </Source>
        </Sources>
    </EditorialNotes>
    <WiresIndexing>
    {{#category}}
    <category>{{category}}</category>
    {{/category}}
    {{#serviceid}}
    <serviceid>{{serviceid}}</serviceid>
    {{/serviceid}}
    {{#ref_field}}
    <ref_field>{{ref_field}}</ref_field>
    {{/ref_field}}
    </WiresIndexing>
</ObjectMetadata>